<div class="vehicle-journeys__otp-stats">
  <app-stat
    class="vehicle-journeys__otp-stat"
    label="On-time"
    [statValue]="
      (calculated.onTime / calculated.completed
        | noInfinity
        | percent: '1.0-2') || 'Unavailable'
    "
    [statLoaded]="!loading"
    tooltip="{{ calculated.onTime }} of {{
      calculated.completed
    }} recorded stop departures were between 1 minute early and 5 minutes 59 seconds late."
  ></app-stat>
  <app-stat
    class="vehicle-journeys__otp-stat"
    label="Late"
    [statValue]="
      (calculated.late / calculated.completed
        | noInfinity
        | percent: '1.0-2') || 'Unavailable'
    "
    [statLoaded]="!loading"
    tooltip="{{ calculated.late }} of {{
      calculated.completed
    }} recorded stop departures were more than 5 minutes 59 seconds late."
  ></app-stat>
  <app-stat
    class="vehicle-journeys__otp-stat"
    label="Early"
    [statValue]="
      (calculated.early / calculated.completed
        | noInfinity
        | percent: '1.0-2') || 'Unavailable'
    "
    [statLoaded]="!loading"
    tooltip="{{ calculated.early }} of {{
      calculated.completed
    }} recorded stop departures were more than 1 minute early."
  ></app-stat>
  <app-stat
    class="vehicle-journeys__otp-stat"
    label="Incomplete data"
    [statValue]="
      (calculated.noData / calculated.total | noInfinity | percent: '1.0-2') ||
      'Unavailable'
    "
    [statLoaded]="!loading"
    [tooltip]="noDataTooltip"
  ></app-stat>
  <ng-template #noDataTooltip>
    {{ calculated.noData | number }} of {{ calculated.total | number }} stop
    departures have limited or missing real-time data so we are unable to
    calculate an accurate on-time performance figure.
    <div *ngIf="calculated.incomplete.length > 0">
      <br />
      Of these, there are:
      <ul>
        <li *ngFor="let item of calculated.incomplete">
          <strong>{{ item.count | number }}</strong> stop{{
            item.count > 1 ? "s" : ""
          }}
          with {{ item.reason }}
        </li>
      </ul>
    </div>
  </ng-template>
</div>
