@import "../../../styles/govuk-module";

.noData {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 320px;
}

.noData .error {
  margin-bottom: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: govuk-spacing(4);
  margin-bottom: -(govuk-spacing(1));
}

.modeSelect {
  display: flex;
  align-items: center;
  position: relative;
  align-self: flex-end;
}

.modeLabel {
  margin-right: govuk-spacing(3);
}

@media screen and (min-width: 890px) and (max-width: 1024px),
  (min-width: 1185px) {
  .footer {
    flex-direction: row;
    justify-content: flex-end;
  }
}
