@import "../../../styles/govuk-module";
.otp-threshold-form__inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  column-gap: govuk-spacing(6);
}
.otp-threshold-form__control {
  min-width: 0;
}
.otp-threshold-form__control :global(.govuk-hint) {
  white-space: normal;
}
