<div class="stop-list-item stop-list-header">
  <div></div>
  <div></div>
  <div class="stop-list-item__heading"><span>Scheduled</span></div>
  <div class="stop-list-item__heading"><span>Actual</span></div>
</div>
<ng-container>
  <app-stop-item
    *ngFor="let stop of view?.stops; let first = first"
    [firstItem]="first"
    [stop]="stop"
    [matchType]="matchType"
    [timingPointsOnly]="timingPointsOnly"
    (stopSelected)="stopSelected.emit($event)"
    (stopHovered)="stopHovered.emit($event)"
  ></app-stop-item>
</ng-container>
