<app-page>
  <ng-container ngProjectAs="content">
    <ng-container>
      <app-page-header heading="Stop Analysis" />
      <div class="map-container">
        <mgl-map
          [style]="mapboxStyle"
          [maxBounds]="initialBounds"
          (zoomEnd)="onMapZoomEnd()"
          (moveEnd)="onMapMoveEnd()"
          (mapLoad)="onMapLoad($event)"
        >
          <mgl-control position="top-left">
            <app-dropdown
              identifier="map-display-menu"
              triggerLabel="Display options"
              [width]="200"
            >
              <p class="govuk-body govuk-!-margin-bottom-2">
                <strong>Map view</strong>
              </p>
              <app-map-view-toggle (mapboxStyle)="onMapStyleChanged($event)" />
            </app-dropdown>
          </mgl-control>
          <mgl-geojson-source
            *ngIf="!boundingBoxTooBig"
            id="points"
            [data]="points"
            [cluster]="true"
            [clusterRadius]="100"
            [clusterProperties]="clusterProperties"
          />
          <mgl-layer
            *ngIf="!boundingBoxTooBig"
            id="clusters"
            type="circle"
            source="points"
            [filter]="['has', 'point_count']"
            [paint]="{
              'circle-radius': [
                'step',
                ['get', 'point_count'],
                30,
                5,
                40,
                20,
                50
              ],
              'circle-color': [
                'step',
                ['/', ['get', 'totalDelay'], ['get', 'completedDepartures']],
                '#ffeb3b',
                -1,
                '#4caf50',
                6,
                '#f44336'
              ]
            }"
            (click)="onClusterClick($event)"
            (mouseenter)="onLayerMouseEnter()"
            (mouseleave)="onLayerMouseLeave()"
          />
          <mgl-layer
            *ngIf="!boundingBoxTooBig"
            id="cluster-count"
            type="symbol"
            source="points"
            [filter]="['has', 'point_count']"
            [layout]="{
              'text-field': [
                'number-format',
                ['/', ['get', 'totalDelay'], ['get', 'completedDepartures']],
                { 'min-fraction-digits': 0, 'max-fraction-digits': 1 }
              ],
              'text-size': 12
            }"
            [paint]="{
              'text-color': '#000000'
            }"
          />
          <mgl-layer
            *ngIf="!boundingBoxTooBig"
            id="unclustered-point"
            type="circle"
            source="points"
            [filter]="['!', ['has', 'point_count']]"
            [paint]="{
              'circle-radius': 20,
              'circle-color': [
                'step',
                ['/', ['get', 'totalDelay'], ['get', 'completedDepartures']],
                '#ffeb3b',
                -1,
                '#4caf50',
                6,
                '#f44336'
              ]
            }"
          />
          <mgl-layer
            *ngIf="!boundingBoxTooBig"
            id="unclustered-count"
            type="symbol"
            source="points"
            [filter]="['!', ['has', 'point_count']]"
            [layout]="{
              'text-field': [
                'number-format',
                ['/', ['get', 'totalDelay'], ['get', 'completedDepartures']],
                { 'min-fraction-digits': 0, 'max-fraction-digits': 1 }
              ],
              'text-size': 12
            }"
            [paint]="{
              'text-color': '#000000'
            }"
          />
          <mgl-control mglNavigation />
          <mgl-control mglGeolocate />
        </mgl-map>
        <div class="map-overlay">
          <p *ngIf="boundingBoxTooBig">Zoom in to show stops</p>
          <app-spinner *ngIf="isLoading" />
        </div>
      </div>
    </ng-container>
  </ng-container>
</app-page>
