# SAM default build folder
.aws-sam/

# dotenv / environment variables file
.env
.env.local
.env.*.local

### NodeJS ###
node_modules
dist
.build
.angular

.idea

# System Files
.DS_Store
Thumbs.db

generated_api_secrets/

.eslintcache
