# SAM default build folder
.aws-sam/

# dotenv / environment variables file
.env
.env.local
.env.*.local

### NodeJS ###
node_modules
dist
.build
.angular

# IDEs
.idea
.vscode

# System Files
.DS_Store
Thumbs.db

generated_api_secrets/

.eslintcache

/abods-api/src/kysely.ts
/frontend/coverage/
/abods-api/coverage/
# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/coverage/playwright/
/.nyc_output/
/coverage/
.nyc_output/
