*.json
frontend/src/assets/js/govuk.js
package-lock.json

# Generated code
/abods-api/src/types/generated.ts
/frontend/src/generated/graphql.ts
/frontend/graphql.schema.json
/frontend-two/src/generated/graphql.ts
/frontend-two/out

# Files that can't be parsed
.*
VERSION
*.prisma
Makefile
*.sh
*.png
*.toml
frontend/src/freshdesk/*
frontend-two/public/freshdesk/*
*.svg
*.ico
