@use "../../styles/govuk-module" as *;

.labelRequired {
  &:after {
    content: " *";
  }
}

.input {
  background: transparent;
  z-index: 0;
}

.width10 {
  max-width: calc(11.5em - 8ex);
  @media (max-width: 19.99em) {
    max-width: 100%;
  }
}

.width20 {
  max-width: calc(20.5em - 8ex);
  @media (max-width: 19.99em) {
    max-width: 100%;
  }
}

.suffixButton {
  color: govuk-functional-colour(link);
  text-decoration: underline;
  cursor: pointer;
  background-color: govuk-colour("white");
  min-width: 8ex;
  padding: 0 govuk-spacing(2);
  border: 2px solid govuk-colour("black");
  border-left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  &:hover {
    color: govuk-functional-colour(link-hover);
  }

  &:focus {
    outline: 3px solid govuk-functional-colour(focus);
    outline-offset: 0;
    background-color: govuk-functional-colour(focus);
    color: govuk-functional-colour(focus-text);
  }

  @media (max-width: 19.99em) {
    width: 100%;
  }
}
