<app-page>
  <ng-container ngProjectAs="back-link">
    <gds-back-link
      label="Search"
      [route]="[returnRoute]"
      [queryParams]="returnQueryParams"
    ></gds-back-link>
  </ng-container>
  <ng-container ngProjectAs="content">
    <ng-container *ngIf="!errorView; else error">
      <app-page-header
        *ngIf="!journeysLoading; else skeletonHeader"
        caption="Vehicle journeys"
        [heading]="
          journeys[currentJourneyIndex]
            ? journeys[currentJourneyIndex].serviceNumber +
              ': ' +
              journeys[currentJourneyIndex].serviceName
            : 'Journey not found'
        "
      ></app-page-header>
      <div
        class="govuk-error-summary"
        data-module="govuk-error-summary"
        *ngIf="vehicles.length > 1"
      >
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            Data from multiple vehicles found for the selected start time
            (journey code)
          </h2>
          <div class="govuk-error-summary__body">
            <p>
              This data quality issue is likely to have resulted in poor quality
              performance data for the journey
            </p>
            <p>
              Location data for the different vehicles can be viewed on the map.
              This will not change performance data.
            </p>
            <app-segmented-toggle
              legend="Other journeys for the service are"
              [(ngModel)]="vehicleRef"
              (ngModelChange)="onVehicleChange()"
            >
              <app-segmented-toggle-item
                *ngFor="let vehicle of vehicles"
                name="vehicle-ref"
                [identifier]="vehicle"
                [value]="vehicle"
                [label]="vehicle"
              ></app-segmented-toggle-item>
            </app-segmented-toggle>
          </div>
        </div>
      </div>
      <div
        class="govuk-error-summary"
        data-module="govuk-error-summary"
        *ngIf="journeys[currentJourneyIndex]?.isCancelled"
      >
        <div role="alert">
          <h2 class="govuk-error-summary__title">Journey Cancelled</h2>
          <div class="govuk-error-summary__body">
            <p>
              This journey has been cancelled (per SIRI-SX data) and will
              therefore not be included in on-time performance statistics.
            </p>
          </div>
        </div>
      </div>
      <div class="vehicle-journeys__header-container">
        <app-journey-info
          [vehicleRef]="vehicleRef"
          [loading]="journeysLoading"
          [journey]="journeys[currentJourneyIndex]"
          [distance]="servicePatternDistance"
        ></app-journey-info>
        <div class="vehicle-journeys__controls">
          <app-match-type-segmented-toggle
            (toggleChange)="matchTypeToggleChange($event)"
          />
          <app-stop-type-segmented-toggle
            [stopType]="stopType"
            (toggleChange)="stopTypeToggleChange($event)"
          />
          <app-journey-nav
            [journeys]="journeys"
            [loading]="journeysLoading"
            [currentIndex]="currentJourneyIndex"
          ></app-journey-nav>
        </div>
      </div>
      <div class="vehicle-journeys__stop-map-grid">
        <app-stop-list
          [view]="journeyInfo"
          [timingPointsOnly]="stopType === StopTypeOption.TimingPoints"
          [matchType]="matchType"
          [loading]="journeyInfoLoading"
          (stopSelected)="onStopSelected($event)"
          (stopHovered)="onStopHovered($event)"
        ></app-stop-list>
        <div>
          <div class="vehicle-journeys__sticky-container">
            <app-otp-stats
              [view]="journeyInfo"
              [loading]="journeyInfoLoading"
              [matchType]="matchType"
              [timingPointsOnly]="stopType === StopTypeOption.TimingPoints"
            ></app-otp-stats>
            <app-journey-map
              [view]="journeyInfo"
              [matchType]="matchType"
              [selectedStop]="selectedStop"
              [hoveredStop]="hoveredStop"
              [loading]="journeyInfoLoading"
              [scheduledRoute]="servicePatternGeom"
            ></app-journey-map>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</app-page>

<ng-template #skeletonHeader>
  <div>
    <span class="govuk-caption-xl govuk-!-margin-bottom-0"
      >Vehicle journeys</span
    >
  </div>
  <app-skeleton appearance="heading-xl" width="300px"></app-skeleton>
</ng-template>

<ng-template #error>
  <app-page-header
    caption="Vehicle journeys"
    [heading]="errorView?.errorHeading"
    spaceAbove="2"
  ></app-page-header>
  <p class="govuk-body">
    {{ errorView?.errorMessage }} Go back to
    <a [routerLink]="[returnRoute]" [queryParams]="returnQueryParams"
      >Vehicle journeys</a
    >?
  </p>
</ng-template>
