<app-page>
  <ng-container ngProjectAs="back-link">
    <gds-back-link
      label="Search"
      [route]="[returnRoute]"
      [queryParams]="returnQueryParams"
    ></gds-back-link>
  </ng-container>
  <ng-container ngProjectAs="content">
    <ng-container *ngIf="!errorView; else error">
      <app-page-header
        *ngIf="!journeyInfoLoading || journeysLoading; else skeletonHeader"
        caption="Vehicle journeys"
        [heading]="
          journeys[currentJourneyIndex]
            ? journeys[currentJourneyIndex].lineNumber +
              ': ' +
              journeys[currentJourneyIndex].servicePattern
            : 'Journey not found'
        "
      ></app-page-header>
      <div class="vehicle-journeys__header-container">
        <app-journey-info
          [journeyInfo]="journeyInfo"
          [loading]="journeyInfoLoading"
        ></app-journey-info>
        <div class="vehicle-journeys__controls">
          <app-segmented-toggle
            [(ngModel)]="estimated"
            (ngModelChange)="onEstimatedToggleChange()"
          >
            <app-segmented-toggle-item
              name="estimated-filter"
              identifier="estimated"
              value="true"
              label="Estimated"
            ></app-segmented-toggle-item>
            <app-segmented-toggle-item
              name="estimated-filter"
              identifier="evidenced"
              value="false"
              label="Evidenced"
            ></app-segmented-toggle-item>
          </app-segmented-toggle>
          <app-segmented-toggle
            [(ngModel)]="timingPointsOption"
            (ngModelChange)="onTimingPointsToggleChange()"
          >
            <app-segmented-toggle-item
              name="stops-filter"
              identifier="all-stops"
              value="all-stops"
              label="All stops"
            ></app-segmented-toggle-item>
            <app-segmented-toggle-item
              name="stops-filter"
              identifier="timing-points"
              value="timing-points"
              label="Timing points"
            ></app-segmented-toggle-item>
          </app-segmented-toggle>
          <app-journey-nav
            [journeys]="journeys"
            [loading]="journeyInfoLoading || journeysLoading"
            [currentIndex]="currentJourneyIndex"
          ></app-journey-nav>
        </div>
      </div>
      <div class="vehicle-journeys__stop-map-grid">
        <app-stop-list
          [view]="journeyInfo"
          [timingPointsOnly]="timingPointsOption === 'timing-points'"
          [estimated]="estimated === 'true'"
          [loading]="journeyInfoLoading"
          (stopSelected)="onStopSelected($event)"
          (stopHovered)="onStopHovered($event)"
        ></app-stop-list>
        <div>
          <div class="vehicle-journeys__sticky-container">
            <app-otp-stats
              [view]="journeyInfo"
              [loading]="journeyInfoLoading"
              [estimated]="estimated === 'true'"
              [timingPointsOnly]="timingPointsOption === 'timing-points'"
            ></app-otp-stats>
            <app-journey-map
              [view]="journeyInfo"
              [estimated]="estimated === 'true'"
              [selectedStop]="selectedStop"
              [hoveredStop]="hoveredStop"
              [loading]="journeyInfoLoading"
            ></app-journey-map>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</app-page>

<ng-template #skeletonHeader>
  <div>
    <span class="govuk-caption-xl govuk-!-margin-bottom-0"
      >Vehicle journeys</span
    >
  </div>
  <app-skeleton appearance="heading-xl" width="300px"></app-skeleton>
</ng-template>

<ng-template #error>
  <app-page-header
    caption="Vehicle journeys"
    [heading]="errorView?.errorHeading"
    spaceAbove="2"
  ></app-page-header>
  <p class="govuk-body">
    {{ errorView?.errorMessage }} Go back to
    <a [routerLink]="[returnRoute]" [queryParams]="returnQueryParams"
      >Vehicle journeys</a
    >?
  </p>
</ng-template>
