<app-page>
  <ng-container ngProjectAs="content"
    ><app-page-header
      heading="Data monitoring"
      spaceAbove="2"
      spaceBelow="2"
    ></app-page-header>
    <br />
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <gds-error-summary [errors]="errors"></gds-error-summary>
      </div>
    </div>
    <gds-button
      text="Enable dashboard"
      appearance="secondary"
      (click)="onButtonClick()"
      [attr.tabindex]="null"
    ></gds-button>
    <app-spinner
      *ngIf="loading"
      [vCentre]="true"
      message="Loading..."
      size="default"
    ></app-spinner>
    <div id="dashboardContainer"></div>
  </ng-container>
</app-page>
