<form (submit)="apply()">
  <div class="filters__heading">
    <h2 class="govuk-heading-l">Refine results</h2>
    <button
      type="button"
      class="filters__close-button button-link govuk-link"
      (click)="cancel()"
    >
      Close
    </button>
  </div>
  <div class="filters__scrollbox">
    <div class="filters__scrollbox-content">
      <app-day-of-week-select
        [value]="dayOfWeekFlags"
        (selectedChange)="dayOfWeekFlagsChanged($event)"
        [error]="getError('dayOfWeekFlags')"
      />
      <app-time-range-slider
        labelMin="Start time"
        labelMax="End time"
        legend="Time range"
        legendSize="s"
        [(startTime)]="startTime"
        [(endTime)]="endTime"
        [error]="getErrors('startTime', 'endTime', 'startEndTime')"
      ></app-time-range-slider>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          Performance
        </legend>
        <div class="filters__2-col">
          <div class="govuk-form-group">
            <label class="govuk-label" for="maxEarly">Maximum early</label>
            <select
              class="govuk-select"
              id="maxEarly"
              name="maxEarly"
              [(ngModel)]="minDelayStr"
            >
              <option value="none" selected>No limit</option>
              <option value="-10">10 minutes</option>
              <option value="-20">20 minutes</option>
              <option value="-30">30 minutes</option>
              <option value="-40">40 minutes</option>
              <option value="-50">50 minutes</option>
              <option value="-60">60 minutes</option>
            </select>
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="maxLate">Maximum late</label>
            <select
              class="govuk-select"
              id="maxLate"
              name="maxLate"
              [(ngModel)]="maxDelayStr"
            >
              <option value="none" selected>No limit</option>
              <option value="10">10 minutes</option>
              <option value="20">20 minutes</option>
              <option value="30">30 minutes</option>
              <option value="40">40 minutes</option>
              <option value="50">50 minutes</option>
              <option value="60">60 minutes</option>
            </select>
          </div>
        </div>
      </fieldset>
      <fieldset *ngIf="showAdminAreas" class="govuk-fieldset">
        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Area
          </legend>
          <gds-multiselect-checkbox
            [options]="adminAreas$ | async"
            [(selected)]="adminAreaIds"
            showAllLabel="Area"
            [showAll]="true"
            placeholderText="All areas"
            ariaLabel="Admin area"
          ></gds-multiselect-checkbox>
        </div>
      </fieldset>
      <div class="filters__reset">
        <button type="button" class="button-link" (click)="resetToDefault()">
          Reset to defaults
        </button>
      </div>
    </div>
  </div>
  <div class="filters__button-group">
    <gds-button
      text="Cancel"
      appearance="secondary"
      type="button"
      (click)="cancel()"
    ></gds-button>
    <gds-button text="Apply" type="submit"></gds-button>
  </div>
</form>
