@use "../../styles/govuk-module" as *;
.noData,
.chart {
  min-height: rem(300);
  margin-bottom: govuk-spacing(6);
}
.noData {
  display: flex;
  align-items: center;
  justify-content: center;
}
.noDataLoading {
  flex-direction: column;
}
.chart {
  max-width: rem(800);
}
.link {
  @include govuk-font(19);
  margin-bottom: 0;
}
.footer {
  margin-top: govuk-spacing(6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@include bp($to-tablet) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: govuk-spacing(3);
  }
}
