@use "../../styles/govuk-module" as *;
.check {
  width: 30px;
  min-width: 24px;
  height: 30px;
  filter: invert(27%) sepia(89%) saturate(1000%) hue-rotate(120deg)
    brightness(90%);
}
.cross {
  width: 30px;
  min-width: 24px;
  height: 30px;
  filter: invert(24%) sepia(82%) saturate(4000%) hue-rotate(350deg)
    brightness(85%);
}
