<app-page>
  <ng-container ngProjectAs="content">
    <app-page-header heading="Stop Analysis" />
    <div class="filters govuk-!-margin-bottom-2">
      <app-date-range-picker
        [from]="from"
        [to]="to"
        (valueChanged)="onDatePickerChanged($event)"
      />
      <div class="toggles">
        <app-segmented-toggle
          [(ngModel)]="matchType"
          (ngModelChange)="onFilterChanged()"
        >
          <app-segmented-toggle-item
            name="match-type"
            identifier="estimated"
            value="estimated"
            label="Estimated"
          />
          <app-segmented-toggle-item
            name="match-type"
            identifier="evidenced"
            value="evidenced"
            label="Evidenced"
          />
        </app-segmented-toggle>
        <app-segmented-toggle
          [(ngModel)]="timingPointsOption"
          (ngModelChange)="processStopData(visibleBounds)"
        >
          <app-segmented-toggle-item
            name="stops-filter"
            identifier="all-stops"
            value="all-stops"
            label="All stops"
          />
          <app-segmented-toggle-item
            name="stops-filter"
            identifier="timing-points"
            value="timing-points"
            label="Timing points"
          />
        </app-segmented-toggle>
      </div>
      <div>
        <label class="govuk-label" for="location"
          >Location name or postcode</label
        >
        <app-location-search
          [searchCenter]="center"
          fieldId="location"
          (locationSelected)="onLocationSearchSelection($event)"
        />
      </div>
      <div>
        <label class="govuk-label" for="operators">Operators</label>
        <app-operator-multi-select
          [value]="operatorIds"
          fieldId="operators"
          (selectedChange)="onOperatorsChanged($event)"
        />
      </div>
    </div>
    <div class="map-container">
      <mgl-map
        [style]="mapboxStyle"
        [maxBounds]="initialBounds"
        (zoomEnd)="onMapZoomEnd()"
        (moveEnd)="onMapMoveEnd()"
        (mapLoad)="onMapLoad($event)"
      >
        <mgl-control position="top-left">
          <app-dropdown
            identifier="map-display-menu"
            triggerLabel="Display options"
            [width]="200"
          >
            <p class="govuk-body govuk-!-margin-bottom-2">
              <strong>Map view</strong>
            </p>
            <app-map-view-toggle (mapboxStyle)="onMapStyleChanged($event)" />
          </app-dropdown>
        </mgl-control>
        <mgl-geojson-source
          *ngIf="!boundingBoxTooBig"
          id="stops"
          [data]="stopPoints"
          [cluster]="true"
          [clusterRadius]="100"
          [clusterProperties]="clusterProperties"
        />
        <mgl-layer
          *ngIf="!boundingBoxTooBig"
          id="clusters"
          type="circle"
          source="stops"
          [filter]="['has', 'point_count']"
          [paint]="{
            'circle-radius': [
              'step',
              ['get', 'point_count'],
              20,
              5,
              30,
              20,
              40
            ],
            'circle-color': [
              'case',
              ['==', ['get', 'completedDepartures'], 0],
              '#b1b4b6',
              [
                'step',
                ['/', ['get', 'onTime'], ['get', 'completedDepartures']],
                '#d4351c',
                0.6,
                '#ffdd00',
                0.8,
                '#28a197'
              ]
            ],
            'circle-stroke-width': [
              'interpolate',
              ['exponential', 0.5],
              ['zoom'],
              11,
              2,
              14,
              3
            ],
            'circle-stroke-color': '#ffffff'
          }"
          (layerClick)="onClusterClick($event)"
        />
        <mgl-layer
          *ngIf="!boundingBoxTooBig"
          id="cluster-count"
          type="symbol"
          source="stops"
          [filter]="['has', 'point_count']"
          [layout]="{
            'text-field': [
              'number-format',
              ['get', 'point_count'],
              { 'min-fraction-digits': 0, 'max-fraction-digits': 1 }
            ],
            'text-size': 16
          }"
          [paint]="{
            'text-color': '#000000'
          }"
        />
        <mgl-layer
          *ngIf="!boundingBoxTooBig"
          id="other-stops"
          type="circle"
          source="stops"
          [filter]="[
            'all',
            ['!', ['has', 'point_count']],
            ['!', ['get', 'timingPoint']]
          ]"
          [paint]="{
            'circle-radius': 14,
            'circle-color': [
              'case',
              ['==', ['get', 'completedDepartures'], 0],
              '#b1b4b6',
              [
                'step',
                ['/', ['get', 'onTime'], ['get', 'completedDepartures']],
                '#d4351c',
                0.6,
                '#ffdd00',
                0.8,
                '#28a197'
              ]
            ],
            'circle-stroke-width': [
              'interpolate',
              ['exponential', 0.5],
              ['zoom'],
              11,
              2,
              14,
              3
            ],
            'circle-stroke-color': '#ffffff'
          }"
        />
        <mgl-layer
          *ngIf="!boundingBoxTooBig"
          id="timing-stops"
          type="symbol"
          source="stops"
          [filter]="[
            'all',
            ['!', ['has', 'point_count']],
            ['get', 'timingPoint']
          ]"
          [layout]="{
            'icon-size': [
              'interpolate',
              ['exponential', 0.5],
              ['zoom'],
              11,
              0.8,
              14,
              1
            ],
            'icon-image': [
              'case',
              ['==', ['get', 'completedDepartures'], 0],
              'timing-no-data-map',
              [
                'step',
                ['/', ['get', 'onTime'], ['get', 'completedDepartures']],
                'otp-timing-map-red',
                0.6,
                'otp-timing-map-yellow',
                0.8,
                'otp-timing-map-turquoise'
              ]
            ]
          }"
        />
        <mgl-popup
          *ngIf="selectedStop"
          [lngLat]="[selectedStop.longitude, selectedStop.latitude]"
          [closeButton]="false"
          [closeOnClick]="false"
        >
          <div>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
              {{ selectedStop.stopName }}
            </h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              <strong>ATCO:</strong> {{ selectedStop.atcoCode }}
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              <strong>On time:</strong>
              {{
                selectedStop.onTime / selectedStop.completedDepartures
                  | noInfinity
                  | percent: "1.0-2"
              }}
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              <strong>Early:</strong>
              {{
                selectedStop.early / selectedStop.completedDepartures
                  | noInfinity
                  | percent: "1.0-2"
              }}
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              <strong>Late:</strong>
              {{
                selectedStop.late / selectedStop.completedDepartures
                  | noInfinity
                  | percent: "1.0-2"
              }}
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-0">
              <strong>Incomplete:</strong>
              {{
                (selectedStop.scheduledDepartures -
                  selectedStop.completedDepartures) /
                  selectedStop.scheduledDepartures
                  | noInfinity
                  | percent: "1.0-2"
              }}
            </p>
          </div>
        </mgl-popup>
        <mgl-popup
          *ngIf="selectedCluster"
          [lngLat]="selectedClusterCoordinates"
          [closeButton]="false"
          [closeOnClick]="false"
        >
          <div>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
              Cluster of {{ selectedCluster.point_count }} stops
            </h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              <strong>On time:</strong>
              {{
                selectedCluster.onTime / selectedCluster.completedDepartures
                  | noInfinity
                  | percent: "1.0-2"
              }}
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              <strong>Early:</strong>
              {{
                selectedCluster.early / selectedCluster.completedDepartures
                  | noInfinity
                  | percent: "1.0-2"
              }}
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              <strong>Late:</strong>
              {{
                selectedCluster.late / selectedCluster.completedDepartures
                  | noInfinity
                  | percent: "1.0-2"
              }}
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-0">
              <strong>Incomplete:</strong>
              {{
                (selectedCluster.scheduledDepartures -
                  selectedCluster.completedDepartures) /
                  selectedCluster.scheduledDepartures
                  | noInfinity
                  | percent: "1.0-2"
              }}
            </p>
          </div>
        </mgl-popup>
        <mgl-control position="bottom-left">
          <div class="map__legend map__legend">
            <span class="map__dot map__dot--high"></span>
            <span>> 80% on-time</span>
            <span class="map__dot map__dot--med"></span>
            <span>60 - 80% on-time</span>
            <span class="map__dot map__dot--low"></span>
            <span>< 60% on-time</span>
            <span class="map__dot map__dot--no-data"></span>
            <span>No data</span>
          </div>
        </mgl-control>
        <mgl-control mglNavigation />
        <mgl-control mglGeolocate />
      </mgl-map>
      <div class="map-overlay">
        <p *ngIf="boundingBoxTooBig">Zoom in to show stops</p>
        <app-spinner *ngIf="isLoading" />
      </div>
    </div>

    <app-stops-grid-display
      [errored]="errored"
      [loading]="isLoading"
      [data]="filteredStopData"
      [paginate]="true"
      (stopNameClicked)="onTableStopNameClicked($event)"
    />
  </ng-container>
</app-page>
