<app-page>
  <ng-container ngProjectAs="content">
    <div class="header-container">
      <app-page-header heading="Stop Analysis" />
      <div class="extra-filter-container">
        <button
          class="more-filters button-link govuk-link"
          aria-controls="panel"
          id="panel-toggle"
          (click)="onMoreFiltersClick()"
        >
          <svg-icon
            class="on-time__filter-icon"
            src="assets/icons/refine.svg"
            [applyClass]="true"
          />
          <span>Refine results</span>
        </button>
        <!--Always passing the same filters value here seems to not always trigger change detection-->
        <app-filter-chips
          [filters]="{
            startTime: refinedFilters.startTime,
            endTime: refinedFilters.endTime,
            dayOfWeekFlags: refinedFilters.dayOfWeekFlags
          }"
          (filterChange)="onFiltersChanged($event)"
        />
      </div>
    </div>
    <div class="filters govuk-!-margin-bottom-2">
      <div>
        <label class="govuk-label" for="dateRange">Date Range</label>
        <app-date-range-picker
          [from]="from"
          [to]="to"
          (valueChanged)="onDatePickerChanged($event)"
        />
      </div>
      <div>
        <label class="govuk-label" for="adminAreaIds">Admin Areas</label>
        <gds-multiselect-checkbox
          [options]="adminAreas$ | async"
          [ngModel]="adminAreaIds"
          (selectedChange)="onAdminAreasChanged($event)"
          [showAll]="true"
          labelForId="adminAreaIds"
          showAllLabel="All Areas"
          placeholderText="Admin Areas"
          ariaLabel="Admin Areas"
        />
      </div>
      <div class="toggles">
        <app-match-type-segmented-toggle
          (toggleChange)="matchTypeToggleChange($event)"
        />
        <app-stop-type-segmented-toggle
          [stopType]="stopType"
          (toggleChange)="stopTypeToggleChange($event)"
        />
      </div>
      <div>
        <label class="govuk-label" for="location"
          >Location name or postcode</label
        >
        <app-location-search
          [searchCenter]="center"
          fieldId="location"
          (locationSelected)="onLocationSearchSelection($event)"
        />
      </div>
      <div>
        <label class="govuk-label" for="operators">Operators</label>
        <gds-multiselect-checkbox
          [options]="operators$ | async"
          [ngModel]="operatorIds"
          (selectedChange)="onOperatorsChanged($event)"
          [showAll]="true"
          labelForId="operators"
          showAllLabel="All Operators"
          placeholderText="Operators"
          ariaLabel="Operators"
        />
      </div>
      <div>
        <label class="govuk-label" for="services">Services</label>
        <gds-multiselect-checkbox
          [options]="services$ | async"
          [ngModel]="serviceIds"
          (selectedChange)="onServicesChanged($event)"
          [showAll]="true"
          labelForId="services"
          showAllLabel="All Services"
          placeholderText="Services"
          ariaLabel="Services"
        />
      </div>
    </div>
    <div class="map-container">
      <mgl-map
        [style]="mapboxStyle"
        [bounds]="initialBounds"
        (moveEnd)="onMapMoveEnd()"
        (mapLoad)="onMapLoad($event)"
      >
        <mgl-control position="top-left">
          <app-dropdown
            identifier="map-display-menu"
            triggerLabel="Display options"
          >
            <p class="govuk-body govuk-!-margin-bottom-2">
              <strong>Map view</strong>
            </p>
            <app-map-view-toggle (mapboxStyle)="onMapStyleChanged($event)" />
          </app-dropdown>
        </mgl-control>
        <mgl-geojson-source
          *ngIf="!boundingBoxTooBig"
          id="stops"
          [data]="stopPoints"
          [cluster]="true"
          [clusterRadius]="80"
          [clusterProperties]="clusterProperties"
        />
        <mgl-layer
          *ngIf="!boundingBoxTooBig"
          id="clusters"
          type="circle"
          source="stops"
          [filter]="['has', 'point_count']"
          [paint]="{
            'circle-radius': [
              'step',
              ['get', 'point_count'],
              20,
              5,
              25,
              20,
              30,
              50,
              35,
              100,
              40
            ],
            'circle-color': pointColours,
            'circle-stroke-width': [
              'interpolate',
              ['exponential', 0.5],
              ['zoom'],
              11,
              2,
              14,
              3
            ],
            'circle-stroke-color': '#ffffff'
          }"
          (layerClick)="onLayerClick($event)"
        />
        <mgl-layer
          *ngIf="!boundingBoxTooBig"
          id="cluster-count"
          type="symbol"
          source="stops"
          [filter]="['has', 'point_count']"
          [layout]="{
            'text-field': [
              'number-format',
              ['get', 'point_count'],
              { 'min-fraction-digits': 0, 'max-fraction-digits': 1 }
            ],
            'text-size': 16
          }"
          [paint]="{
            'text-color': '#000000'
          }"
        />
        <mgl-layer
          *ngIf="!boundingBoxTooBig"
          id="other-stops"
          type="circle"
          source="stops"
          [filter]="[
            'all',
            ['!', ['has', 'point_count']],
            ['!', ['get', 'timingPoint']]
          ]"
          [paint]="{
            'circle-radius': 14,
            'circle-color': pointColours,
            'circle-stroke-width': [
              'interpolate',
              ['exponential', 0.5],
              ['zoom'],
              11,
              0.8,
              14,
              1
            ],
            'circle-stroke-color': '#ffffff'
          }"
        />
        <mgl-layer
          *ngIf="!boundingBoxTooBig"
          id="timing-stops"
          type="symbol"
          source="stops"
          [filter]="[
            'all',
            ['!', ['has', 'point_count']],
            ['get', 'timingPoint']
          ]"
          [layout]="{
            'icon-size': [
              'interpolate',
              ['exponential', 0.5],
              ['zoom'],
              11,
              0.8,
              14,
              1
            ],
            'icon-allow-overlap': true,
            'icon-image': timingPointIcons
          }"
        />
        <mgl-geojson-source
          id="boundaries"
          promoteId="id"
          [data]="visibleAdminAreas"
        />
        <mgl-layer
          id="admin-area-boundaries"
          source="boundaries"
          type="fill"
          [paint]="{
            'fill-color': '#28A197',
            'fill-opacity': [
              'interpolate',
              ['linear'],
              ['zoom'],
              9,
              [
                'case',
                ['boolean', ['feature-state', 'hover'], false],
                0.5,
                0.3
              ],
              adminAreaHiddenZoomLevel,
              0
            ]
          }"
          (layerMouseMove)="onBoundaryHover($event)"
          (layerMouseLeave)="onClearBoundaryHover()"
          (layerClick)="onLayerClick($event)"
        />
        <mgl-popup
          *ngIf="hoveredAdminArea && labelPosition && zoomLevel < 11"
          [feature]="labelPosition"
          [closeButton]="false"
          [closeOnClick]="false"
          maxWidth="200"
          className="gds-popup"
        >
          <div
            class="govuk-body-small govuk-!-font-weight-bold govuk-!-margin-bottom-1"
          >
            {{ hoveredAdminArea.properties.name }}
          </div>
          <div class="govuk-body-small">{{ hoveredAdminArea.id }}</div>
        </mgl-popup>
        <mgl-popup
          *ngIf="selectedStop"
          [lngLat]="[selectedStop.longitude, selectedStop.latitude]"
          [closeButton]="false"
          [closeOnClick]="false"
        >
          <div>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
              {{ selectedStop.stopName }}
            </h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              <strong>ATCO:</strong> {{ selectedStop.atcoCode }}
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              <strong>On time:</strong>
              {{
                selectedStop.onTime / selectedStop.completedDepartures
                  | noInfinity
                  | percent: "1.0-2"
              }}
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              <strong>Early:</strong>
              {{
                selectedStop.early / selectedStop.completedDepartures
                  | noInfinity
                  | percent: "1.0-2"
              }}
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              <strong>Late:</strong>
              {{
                selectedStop.late / selectedStop.completedDepartures
                  | noInfinity
                  | percent: "1.0-2"
              }}
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-0">
              <strong>Incomplete:</strong>
              {{
                (selectedStop.scheduledDepartures -
                  selectedStop.completedDepartures) /
                  selectedStop.scheduledDepartures
                  | noInfinity
                  | percent: "1.0-2"
              }}
            </p>
          </div>
        </mgl-popup>
        <mgl-popup
          *ngIf="selectedCluster"
          [lngLat]="selectedClusterCoordinates"
          [closeButton]="false"
          [closeOnClick]="false"
        >
          <div>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
              Cluster of {{ selectedCluster.point_count }} stops
            </h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              <strong>On time:</strong>
              {{
                selectedCluster.onTime / selectedCluster.completedDepartures
                  | noInfinity
                  | percent: "1.0-2"
              }}
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              <strong>Early:</strong>
              {{
                selectedCluster.early / selectedCluster.completedDepartures
                  | noInfinity
                  | percent: "1.0-2"
              }}
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              <strong>Late:</strong>
              {{
                selectedCluster.late / selectedCluster.completedDepartures
                  | noInfinity
                  | percent: "1.0-2"
              }}
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-0">
              <strong>Incomplete:</strong>
              {{
                (selectedCluster.scheduledDepartures -
                  selectedCluster.completedDepartures) /
                  selectedCluster.scheduledDepartures
                  | noInfinity
                  | percent: "1.0-2"
              }}
            </p>
          </div>
        </mgl-popup>
        <mgl-control position="bottom-left">
          <div class="map__legend map__legend">
            <span class="map__dot map__dot--high"></span>
            <span>> {{ greenThreshold | percent }} on-time</span>
            <span class="map__dot map__dot--med"></span>
            <span
              >{{ redThreshold | percent }} -
              {{ greenThreshold | percent }} on-time</span
            >
            <span class="map__dot map__dot--low"></span>
            <span>< {{ redThreshold | percent }} on-time</span>
            <span class="map__dot map__dot--no-data"></span>
            <span>No data</span>
          </div>
        </mgl-control>
        <mgl-control mglNavigation />
        <mgl-control mglGeolocate />
      </mgl-map>
      <div class="map-overlay">
        <p *ngIf="boundingBoxTooBig && map">Zoom in to show stops</p>
        <app-spinner *ngIf="isLoading" />
      </div>
    </div>

    <app-stops-grid-display
      [errored]="errored"
      [loading]="isLoading"
      [data]="filteredStopData"
      [paginate]="true"
      [preSelectedDirections]="directions"
      (stopNameClicked)="onTableStopNameClicked($event)"
      (directionsChanged)="onDirectionChange($event)"
    />
  </ng-container>
</app-page>
