@use "../../../styles/govuk-module" as *;

.change {
  @include govuk-font(19);
  display: inline-flex;
  align-items: center;

  &::after {
    content: "";
    margin-left: govuk-spacing(1);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
}

.increase {
  color: govuk-colour("green");

  .value {
    background-color: raas-colour("change", "up");
  }

  &::after {
    border-bottom: 11px solid govuk-colour("black", $variant: "tint-25");
  }
}

.decrease {
  color: govuk-colour("red");

  .value {
    background-color: raas-colour("change", "down");
  }

  &::after {
    border-top: 11px solid govuk-colour("black", $variant: "tint-25");
  }
}

.small {
  @include govuk-font(16);
}

.value {
  display: inline;
}
