@import "src/assets/styles/helpers/helpers";

.govuk-select {
  min-width: fit-content;
}

.govuk-table__header {
  font-size: 17px;
  font-weight: $govuk-font-weight-bold;
}

.app-page-header {
  margin-bottom: 0;
}
