<div class="on-time__filter-row">
  <div>
    <div class="on-time__date-picker">
      <app-date-range [formControl]="dateRange"></app-date-range>
    </div>
  </div>
  <div class="on-time__filters">
    <div>
      <button
        class="on-time__more-filters button-link govuk-link"
        [attr.aria-expanded]="
          panelService.isOpen$ ? panelService.isOpen$ : 'false'
        "
        aria-controls="panel"
        id="panel-toggle"
        (click)="onMoreFiltersClick()"
      >
        <svg-icon
          class="on-time__filter-icon"
          src="assets/icons/refine.svg"
          [applyClass]="true"
        ></svg-icon
        ><span>Refine results</span>
      </button>
    </div>
  </div>
  <div class="on-time__timing-toggle">
    <div class="on-time__timing-toggle-row">
      <app-match-type-segmented-toggle
        [matchType]="matchType"
        (toggleChange)="matchTypeToggleChange($event)"
      />
    </div>
    <div class="on-time__timing-toggle-row">
      <app-stop-type-segmented-toggle
        [stopType]="stopType"
        (toggleChange)="stopTypeToggleChange($event)"
      />
    </div>
  </div>
</div>
<div class="on-time__filter-chips">
  <app-filter-chips
    [filters]="filtersSubject.value"
    (filterChange)="updateFilters($event)"
    [showAdminAreas]="showAdminAreas"
  ></app-filter-chips>
</div>
