@import "../../styles/govuk-module";
.feed-status-summary {
  width: 100%;
  margin-bottom: govuk-spacing(2);
  tr {
    vertical-align: top;
  }
  th, td {
    padding: 0 0 govuk-spacing(3) govuk-spacing(2);
  }
  th {
    @include govuk-font(16);
    color: $govuk-secondary-text-colour;
  }
  td {
    @include govuk-font(19);
  }
  td.feed-status-summary__status {
    padding-left: 0;
    padding-top: 2px;
  }
}
.feed-status-summary__heading {
  text-align: right;
  @include govuk-typography-weight-regular();
}
.feed-status-summary__footer {
  display: flex;
  justify-content: flex-end;
  @include govuk-font(19);
  margin-top: govuk-spacing(4);
}
.feed-status-summary__operator--muted {
  color: $govuk-secondary-text-colour;
  @include govuk-font(16);
}
