<div
  class="stop-list-item"
  [ngClass]="{
    'stop-list-item--timing-point': stop.isTimingPoint,
    'stop-list-item--timing-point--first': stop.isTimingPoint && firstItem
  }"
>
  <div class="stop-list-item__value-container">
    <span
      *ngIf="displayTimingDetails"
      [ngxTippy]="stop.isTimingPoint ? 'Timing point' : null"
      [tippyProps]="{ theme: 'gds-tooltip' }"
    >
      <svg-icon
        class="stop-list-item__icon"
        [ngClass]="{
          'stop-list-item__icon--on-time': otp === 'OnTime',
          'stop-list-item__icon--early': otp === 'Early',
          'stop-list-item__icon--late': otp === 'Late',
          'stop-list-item__icon--no-data': otp === null,
          'stop-list-item__icon--stop': !stop.isTimingPoint
        }"
        [applyClass]="true"
        [src]="
          stop.isTimingPoint
            ? 'assets/icons/timing.svg'
            : 'assets/icons/stop.svg'
        "
        aria-hidden="true"
      ></svg-icon>
      <span class="govuk-visually-hidden">Timing point</span>
    </span>
  </div>
  <div class="stop-list-item__value-container">
    <button
      role="button"
      class="stop-list-item__name unbuttoned"
      (click)="stopSelected.emit(stop)"
      (mouseenter)="stopHovered.emit({ stop: stop, event: 'enter' })"
      (mouseleave)="stopHovered.emit({ stop: stop, event: 'leave' })"
    >
      <span>{{ stop.stopName ? stop.stopName : "-" }}</span>
    </button>
  </div>
  <div
    class="stop-list-item__value-container stop-list-item__value-container__align-right"
  >
    <div *ngIf="displayTimingDetails" class="stop-list-item__scheduled">
      <div class="stop-list-item__time-container">
        <span class="stop-list-item__time-container--minutes">{{
          scheduledDeparture?.setZone("Europe/London")
            | dateTimeToFormat: "HH:mm"
        }}</span>
        <span
          *ngIf="!timingPointsOnly"
          class="stop-list-item__time-container--seconds"
          >:{{
            scheduledDeparture?.setZone("Europe/London")
              | dateTimeToFormat: "ss"
          }}</span
        >
      </div>
    </div>
  </div>
  <div
    class="stop-list-item__value-container stop-list-item__value-container__align-right"
  >
    <span *ngIf="displayTimingDetails" class="stop-list-item__actual">
      <div
        *ngIf="actualDeparture; else empty"
        [ngxTippy]="
          'Calculated delay ' + (delay | formatDuration: 'mm:ss' : '+')
        "
        [tippyProps]="{ theme: 'gds-tooltip' }"
        class="stop-list-item__time-container"
      >
        <span class="stop-list-item__time-container--minutes">{{
          actualDeparture.setZone("Europe/London") | dateTimeToFormat: "HH:mm"
        }}</span>
        <span
          *ngIf="!timingPointsOnly"
          class="stop-list-item__time-container--seconds"
          >:{{
            actualDeparture.setZone("Europe/London") | dateTimeToFormat: "ss"
          }}</span
        >
      </div>
      <ng-template #empty>
        <div
          [ngxTippy]="'Incomplete Reason: ' + incompleteReason"
          [tippyProps]="{ theme: 'gds-tooltip' }"
          class="stop-list-item__time-container"
        >
          -
        </div></ng-template
      >
    </span>
  </div>
</div>
