@import "../../../styles/govuk-module";

.page {
  min-width: 0;
}

.backLink {
  @include bp($desktop) {
    padding-left: govuk-spacing(4);
  }
}

.mainWrapper {
  @include bp($desktop) {
    padding-left: govuk-spacing(4);
  }

  font-weight: 400;
  line-height: 20px;
}

.headerTitle {
  margin-bottom: 0;
}
