@import "../../styles/govuk-module";

.tooltip {
  color: inherit;
  display: inline-block;

  &:global(.govuk-link),
  &:global(.button-link) {
    color: govuk-functional-colour(link);

    &:hover:not(:focus) {
      color: govuk-functional-colour(link-hover);
    }
  }
}

.underline {
  border-bottom: 2px dotted currentColor;
}

.selectable {
  user-select: text;
}
